html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

.bg {
  width: 100%;
  height: 100%;
  filter: blur(3px);
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
}

.content {
  position: absolute;
  width: 100%;
  top: 35%;
  transform: translate(0, -50%);
  text-align: center;
}

.content-countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

h1 {
  font-size: 28px;
  font-weight: 300px;
}

h2 {
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: 400px;
}

.time {
  margin-top: 30px;
  font-size: 25px;
}

.time ul {
  display: flex;
  padding: 25px;
}

.time ul li:nth-child(1) {
  padding-right: 20px;
}

.time ul li ~ li {
  padding: 0 28px;
}

.time ul > span {
  display: flex;
  flex-flow: column-reverse;
}

.time ul li h3 {
  font-size: 35px;
  color: red;
}

.time span {
  color: #000;
  font-size: 13px;
}

.content-title {
  margin-top: 50px;
  font-size: 25px;
}
