html, body, div, ul, li {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

ul li {
  list-style: none;
}

.bg {
  width: 100%;
  height: 100%;
  filter: blur(3px);
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
}

.content {
  position: absolute;
  width: 100%;
  top: 35%;
  transform: translate(0, -50%);
  text-align: center;
}

.content-countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}

h1 {
  font-size: 2.8rem;
  font-weight: 30rem;
}

h2 {
  font-size: 4rem;
  letter-spacing: .5rem;
  font-weight: 40rem;
}

.time {
  margin-top: 3rem;
  font-size: 2.5rem;
}

.time ul {
  display: flex;
  padding: 2.5rem;
}

.time ul li:nth-child(1) {
  padding-right: 2rem;
}

.time ul li ~ li {
  padding: 0 2.8rem;
}

.time ul > span {
  display: flex;
  flex-flow: column-reverse;
}

.time ul li h3 {
  font-size: 3.5rem;
  color: red;
}

.time span {
  color: #000;
  font-size: 1.3rem;
}

.content-title {
  margin-top: 5rem;
  font-size: 2.5rem;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 1.5rem;
    font-weight: 20rem;
  }

  h2 {
    font-size: 4rem;
    letter-spacing: .5rem;
    font-weight: 40rem;
  }

  .content {
    overflow: hidden;
  }

  .content-title {
    margin-top: 5rem;
    font-size: 1.8rem;
    /* color: #fff; */
  }

  .content-countdown {
    padding: 0 1rem;
    margin-top: 5rem;
    /* color: #fff; */
  }

  .countdown-docs {
    font-size: 2.4rem;
    margin-top: 1.5rem;
  }

  .time {
    padding: 0 2rem;
  }

  .time span {
    /* color: #fff; */
  }

  .time ul {
    padding: 0;
  }

  .time ul li h3 {
    font-size: 1.5rem;
  }

  .time ul li ~ li {
    padding: 0 1.4rem;
  }

  .time ul li:last-child {
    padding-right: 0;
  }

  .time ul li:nth-child(1) {
    padding-right: 0.8rem;
  }

  .bg {
    background: url(../images/bg-mobile.png) no-repeat;
    background-size: cover;
  }
}
